#!/bin/bash
#
# backup-secrets
# This script finds all .env files within a specified directory,
# creates a compressed tarball, and encrypts it using GPG.

LOG_FILE="{{ item.log_path }}"
SOURCE_DIR="/home/migue/Workspace/repos/homelab"
OUTPUT_FILE="/docker/data/secrets.tar.gz.gpg"
GPG_RECIPIENT="87638F555971C9470EE0970292798C20EED0C422"

echo "---- Backup started at $(date +'%Y-%m-%d %H:%M:%S')" >> "$LOG_FILE"

echo "++++ Finding .env files in $SOURCE_DIR..." >> "$LOG_FILE"
(
  cd "$SOURCE_DIR" || exit 1
  find . -name '.env' -print0 | \
    tar --create --null --files-from - --gzip
) | gpg --encrypt --recipient "$GPG_RECIPIENT" --trust-model always --yes --output "$OUTPUT_FILE"

echo "---- Backup completed at $(date +'%Y-%m-%d %H:%M:%S')" >> "$LOG_FILE"
curl -X POST -fsS -m 10 --retry 5 -o /dev/null "{{ item.healthcheck_url }}"

# Note to decrypt: gpg --decrypt --output secrets.tar.gz "$OUTPUT_FILE"
